<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smalltalk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_xxhigh"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo"
        android:allowClearUserData="true" >
        <activity
            android:name="SplashScreen"
            android:label="@string/app_name" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        
         <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.example.homeScreen" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
        
        <activity
            android:name=".GameScreen"
            android:label="@string/title_activity_game_screen"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smalltalk.MainActivity" />
        </activity>
        <activity
            android:name=".SettingScreen"
            android:label="@string/title_activity_setting_screen"
            android:parentActivityName=".GameScreen" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.smalltalk.GameScreen" />
        </activity>
        <activity
            android:name=".QuestionWFrame"
            android:label="@string/title_activity_question_wframe" >
        </activity>
    </application>

</manifest>
